.content-box h3 {
  font-size: 24px;
  text-transform: uppercase;
}

.content-box__content {
  margin-top: 24px;
  display: grid;
  justify-items: start;
}

.content-box__content > * {
  margin-bottom: 10px;
}
