.link {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.link:hover,
.link:active,
.link:focus {
  cursor: pointer;
  color: var(--color-green);
}

.link__image,
.link svg {
  height: 30px;
  width: 30px;
  margin-right: 16px;
}
