.divider {
  height: 4px;
  width: 100%;
  background: var(--color-grey);
  border: none;
  margin: 3px 0;
  overflow: initial;
  position: relative;
}

.divider--fancy:before {
  content: "";
  display: block;
  position: absolute;
  height: 10px;
  width: 70px;
  top: -3px;
  border: none;
  background: var(--color-green);
}
