/*------------------------------------*\
  # Default settings
\*------------------------------------*/

:root {
  --color-green: #7abcac;
  --color-black: #222222;
  --color-white: #eeeeee;
  --color-grey: #dcdcdc;
  --color-yellow: #d8da79;
  --color-reddish: #c29486;

  --size-containter: 1080px;
}

.App {
  max-width: var(--size-containter);
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}
